
@import '../../../../variables.scss';


app-sidebar{
  position: absolute;
  width: 100%;
  // top: 0;
  // left: 0;
  // z-index: 100;
  // width: 0;
  display: none;
}

app-shopping-card{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: none;

}
.main-container-shopping-card{
  display: none;
  // display: flex;
  text-align: end;
}


.page-margin{
  // margin: 0rem 5rem 0rem 5rem;


}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $second-background-color;
  padding: 5rem 5rem;

}
.main-text-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;


}

.h2-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 0rem;
}
.h2-container h2{
  font-size: 6rem;
  font-weight: 700;
  line-height: 5.5rem;
  text-align: justify;
  font-family: 'Source Sans 3', sans-serif;
  // margin-left: 2.5rem;

  color: $main-text-color;
}

.description-container{
  text-align: justify;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  background-color: $blocks-background-color;
  padding: 0rem 2rem;
  margin: 3rem 0rem;
  transition: all 0.3s ease;


}

img{

  max-width: 30rem;
  max-height: 40rem;
  margin: 2rem 0rem 2rem 0rem;
  cursor: pointer;
}

.bold{
  font-weight: 500;
  font-size: 2.5rem;
}

p{
  font-size: 1.6rem;
  line-height: 3.5rem;
  font-weight: 200;
  color: $main-text-color;
  background-color: $blocks-background-color;
  padding: 4rem 2rem;
}
.block{
  object-fit: cover;

}
button{
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  font-family: 'Source Sans 3', sans-serif;

  cursor: pointer;
  border: none;
  outline: none;
  background-color: $blocks-background-color;
  color: #e9e4e4;
  transition: all 0.3s ease;
  margin: 2rem 0rem;

  &:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: $main-second-theme-color;
  box-sizing: 0px 0px 15px #fff;
  }

}



@media screen and (min-width: 1200px){

  img{
    max-width: 40rem;

    max-height: 40rem;
  }

  app-sidebar{
    display: block;
  }





}
@media screen and (min-width:700px) and (max-width:1199px){

  img{
    max-width: 40rem;
    max-height: 40rem;

  }

}
