.background{
  height: 100vh;
  width: 100%;
  display: flex;

}
.form-container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.5rem;
}


h2{
  text-align: center;
  font-size: 2.5rem;

}


.error-message{
  color: red;
  font-size: 1.5rem;
  min-width: 30rem;
  max-width: 30rem;
}

.info-text{
  min-width: 30rem;
  max-width: 30rem;
  font-size: 1.3rem;
}

input{
  min-width: 30rem;
  max-width: 30rem;
  height: 5rem;
  outline: none;
  border: none;
  padding: 1rem;
  background-color: #5bdb99;
  color: #fff;
  border-left: 5px solid #000;
  // border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

}
input::placeholder{
  color: #fff;
}


label{
  min-width: 30rem;
  max-width: 30rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: #000;
}

.register-btn{
  height: 5rem;
  margin: 2rem 2rem;
  background-color: rgb(234, 234, 234);
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-left: 5px solid #5bdb99;
  cursor: pointer;
  font-weight: 800;
  transition:0.3s all;


  &:hover{
    background-color: rgb(234, 234, 234);
    transition:0.3s all;
  }

}

.login-container{
  min-width: 30rem;
  max-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container p{
  font-size: 1.5rem;
}





a{
  text-decoration: none;
  color: inherit;
  color: #5bdb99;
  font-weight: 800;
  font-size: 1.5rem;
}




.disabled-button {
  background-color: #5bdb99;
  color: #fff;
}



.success-message{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30rem;
  max-width: 30rem;
  background-color: rgb(59, 130, 93);
  padding: 1.5rem;
  gap: 3rem;
}
.failure-message{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30rem;
  max-width: 30rem;
  background-color: red;
  padding: 1.5rem;
  gap: 3rem;
}

.register-success-text{
color: #fff;
text-align: left;
font-size: 1.4rem;
font-weight: 800;
}
.register-failure-text{
color: #fff;
text-align: left;
font-size: 1.4rem;
font-weight: 800;
}

.success-btn{
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  background-color: rgb(59, 130, 93);
  font-family: 'Poppins', sans-serif;
  // background-color: crimson;
  color: #fff;
  outline: none;
  border: none;
  border: 3px solid #fff;
  transition: 0.3s all;


  &:hover{
    background-color: rgb(49, 105, 76);
    transition: 0.3s all;

  }
}
.failure-btn{
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  background-color: red;
  // background-color: crimson;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  outline: none;
  border: none;
  border: 3px solid #fff;
  transition: 0.3s all;


  &:hover{
    background-color: rgb(49, 105, 76);
    transition: 0.3s all;

  }
}

.demo-account-container{
  margin: 1rem 1rem;
  max-width: 30rem;
  min-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  gap: .5rem;
}



@media screen and (max-width: 900px) {


}
