@import '../../../../variables.scss';


.sidebar-container{
  width: 15vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.3s ease;
  // background-color: $main-background-color;
  z-index: 100;
  margin-left: 2rem;


  border: 1px solid #fff;
  }


.sidebar-container a{
  display: flex;
  justify-content: center; /* Równa odległość między elementami */
  align-items: center;
  padding: 0 3rem; /* Dodaj padding po obu stronach */
  font-size: 2.5rem;
  height:7.7rem;
  text-decoration: none;
  color: #fff;
  font-weight:200;
  width: 100%;

  &:hover{
    background-color: #f4e9e9;
    color: #000;
  }

}

.sidebar-container a:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;

}

.sidebar-container a.active{
  width: 100%;
  color: #000;
  background-color: #f4e9e9;
  margin-left: 0;
  position: relative;
  transition: all 0.3s ease;

}

.sidebar-container a.active::before{
  content: '';
  width: .5rem;
  height: 100%;
  background-color: $main-second-theme-color;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}


.sidebar-container a span{
  flex-grow: 1;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-btn-container{
  // height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;


}

#close-btn{
  font-size: 4rem;
  background-color: $main-background-color;
  padding: .4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;

}
span{
  font-size: 4rem;
}


.menu-btn-container{
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-direction: column;
  margin: 3rem 0rem;


}

#shop{
  display: flex;
  margin-right: 2rem;

}
.menu-btn-container span{
  margin-left: 2rem;

  font-size: 4rem;
  // border: 1px solid #fff;
  // background-color: $main-background-color;
  padding: 1.5rem;
  cursor: pointer;
  color: #fff;

  &:hover{

    border: 1px solid #fff;
  }
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  width: 6rem;
  margin: 2rem 1rem;
  font-weight: 300;
  margin-left: 2rem;
  letter-spacing:2px;
  background-color: $main-background-color;
  padding: 2rem;
  cursor: pointer;
  color: #fff;

}

@media screen and (min-width: 1200px){
// app-shopping-card{
//   display: none;
// }
}



@media screen and (max-width: 900px) {
  .sidebar-container{
    height: 83vh;
    width: 45vw;
  }

  .menu-btn-container{
    width: 60vw;
    height: 8rem;
  }



  .sidebar-container a{
    font-size: 1.7rem;
    padding: 0 1rem; /* Dodaj padding po obu stronach */
    height:5.7rem;


  }

  span{
    font-size: 3rem;
  }
  .menu-btn-container span {
    display: inline-block;
    font-size: 2.5rem;
  }
}






a{
  text-decoration: none;
  color: inherit;
}
