@import '../../../../variables.scss';
;













.primary-header{
  margin-top: 20rem;
}
.second-header{
  margin-top: 10rem;
}

.primary-header-content{
  display: flex;
  flex-direction: column;
}

img{
  height: 500px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.wrapper{
  max-width: 35rem;
  margin-inline: auto;
}
.second-wrapper{
  max-width: 40rem;
  margin-inline: auto;
}

.primary-header-content > * {
  width: auto;
}
.primary-header-content .btn-container{
  display: flex;
  justify-content: space-between;
  margin: 5rem 0rem;
}

.content-text h2,h3{
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: 500;
  text-align: center;
  padding: 0rem 2rem;
  width: 100%;
}


.columns-title-h3 h3{
  font-size: 5rem;
  text-align: center;
  padding: 2rem 0rem;
  border-radius: 3rem;
  font-weight: 500;
}
.columns-title-h3{
  margin-top: 10rem;
  width: 100%;
  display: flex;

  flex-direction: column;
  // justify-content: space-between;
}
.columns-title-h3 .btn-container{
  // width: 50%;
}
.columns-title-h3 .btn-container button{
  min-width: 5rem;
  margin: 2rem 2rem;
  height: 4.5rem;
  outline: none;
  border: none;
  border: 1px solid #000;
  background-color: $main-blocks-color;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.grid-even-columns{
  display: grid;
  grid-auto-rows: 1fr;
  gap: 1rem;
  justify-items: stretch; /* Rozciąga elementy na szerokość kontenera */
  align-items: stretch;
  align-self: stretch;
  min-height: 500px;
}


.block{
  display: grid;
  padding: 2rem 2rem;

}
.offer-name-container{
  display: flex;
  margin: 1rem 0rem;

}
h2,p{
  margin: 0;
}

.offer-name{
  font-size: 3rem;
  font-weight: 500;
  line-height: 100%;
  background-color: #fff;
  width: 100%;
  padding: 4rem 0rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;

}
.offer-description{
  // align-self: flex-end;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  text-align: justify;
  white-space:normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  min-height: 150px;
  padding: 1.5rem 2rem;
}
.offer-description-container{
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-grid{
  min-height: 4.5rem;
  min-width: 15rem;
  outline: none;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: $main-blocks-color;
  border: none;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 3rem;

  &:hover{
    background-color: $hover-text-color;
    transition: all 0.3s ease;
  }
}
.btn-grid-container{
  margin: 1rem 0rem;

  display: flex;
  align-items: flex-end;
}

.more-info-container{
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;

}
.more-info-container button{
  min-width: 25rem;
  min-height: 5.5rem;
  background-color: $second-blocks-color;
  border: none;
  border: 1px solid #000;
  outline: none;
  // border: 1px solid #fff;
  // color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover{
    background-color: $hover-text-color;
    transition: all 0.3s ease;

  }
}
.single-column {
    width: 100%;
  margin-bottom: 20px;
}


@media screen and (min-width: 1200px){
.wrapper{
  max-width: 120rem;
  padding: 0rem 1rem;

}

.primary-header-content .btn-container{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0rem;
}

.grid-even-columns{
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));

}


.columns-title-h3 .btn-container button{
  min-width: 12rem;
}
.grid-column-name{
  font-size: 4rem;
}

.primary-header-content{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content-text h2,h3{
  font-size: 8rem;
  font-weight: 400;
}
}





