@import '../../../../variables.scss';
;


.wrapper{
  max-width: 35rem;
  margin-inline: auto;
}

*{
  color: #000;
}
p,h1,h2,h3,h4{
  margin: 0;
}
span{
  font-weight: 500;

}
li{
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
}
h2{
  font-size: 5.5rem;
  text-align: center;
  padding: 2rem 0rem;
  border-radius: 3rem;
  font-weight: 500;
}
h3{
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 150%;
  background-color: $second-blocks-color;
  padding: 2rem 0rem;
}
.grid-columns{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  gap: 1rem;
  justify-items: stretch;
  align-items: stretch;
  align-self: stretch;
  margin-top: 3rem;
}
.main-grid-column{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto-fit;
  gap: 3rem;
  justify-items: stretch;
  align-items: stretch;
  align-self: stretch;
  margin-top: 3rem;
  min-height: 400px;
  margin-bottom: 4rem;



}

li{

  list-style: none;
}

.main-content-block{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  color: #000;
  text-align: justify;

  overflow: hidden;
  transition: all 0.1s ease;
  gap: 2rem;

}


ul{
  background-color: $main-blocks-color;
  min-height: 100px;
}

.main-content-block p{
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}

.header-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background-color: $second-blocks-color;
}
.header-container h2{
  font-size: 4rem;
  font-weight: 600;
}
.header-container p{
  font-size: 1.7rem;
  font-weight: 300;
}
.h3-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $second-blocks-color;
}
.h3-container h3{
  font-size: 5rem;
  font-weight: 600;
}






@media screen and (min-width: 800px){
  .wrapper{

    padding: 0rem 1rem;
    max-width: 120rem;
  }

  .main-grid-column{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  }

}
