@import '../../../../variables.scss';

p{
  margin: 0;
}
app-topbar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10111;
  width: 100%;
  border-bottom: 1px solid #020202;
}

app-shopping-card{
  // position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: none;

}
.main-container-shopping-card{
  display: flex;
  text-align: end;
}

.main-container{
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  background-color: $second-background-color;
  padding: 0rem 5rem;

}


.main-about-us-container{
  max-width: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  margin-top: 5rem;
  // min-height: 50rem;
  max-height: 80rem;

  // border-radius: 3rem;
  padding: 2rem 2rem;
  margin: 2rem 2rem;
}
.main-about-us-container p{
  line-height: 4rem;

}
.main-text-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 85rem;
  // height: auto;

  gap: 1rem;
  // margin-top: 27rem;
  text-shadow: 0px 0px 7px #fff;



}

.h1-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15rem;
  width: 100%;
  // margin: 5rem 5rem;
  max-width: 85rem;
  // height: 60rem;
  max-height: 40rem;

}
.h1-container h1{
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: .3rem;
  line-height:7rem;
  color: #fff;
  padding: 3rem 3rem;
  transition: all 0.3s ease;
  // text-shadow: 0px 0px 7px #fff;


}
// .btn-container{
//   max-width: 85rem;
//   display: flex;
//   justify-content: center ;
//   align-items: center;
//   flex-direction: column;
//   margin: 5rem 3rem 0rem;
//   text-shadow: 0px 0px 7px #fff;

// }



.btn-container p{

  font-weight: 500;
  font-size: 2.5rem;
  margin: 2rem 1rem;
}

.description-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

.description-container p{

  margin: 1rem 0rem;

}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem;
  outline: none;
  border: none;
}

.main-description-container{
  margin-top: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50rem;
  // background-color: red;
}

.main-description-container .left-site-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // background-color: blue;
}

h2 span{
  display: block;
}


.main-description-container .right-site-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // background-color: green;
}

.main-description-container .left-site-container h2{
  // width: 20.8125rem;
// height: 9.99513rem;
// flex-shrink: 0;
color: #FFF;
// width: 35rem;
text-align: left;
font-family: Outfit, sans-serif;
font-size: 5rem;
font-weight: 500;
line-height: 98.28%; /* 3.93119rem */
}

.left-site-container .btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  width: 100%;

}
.left-site-container .btn-container button{
  margin: 1rem 1rem 2rem 1rem;
  min-width: 13rem;
  max-width: 15rem;
  font-weight: 400;
  font-size: 1.6rem;
  height: 5.5rem;
  color: #fff;
  background-color:  #050505;
  border: 1px solid #1b1b1b;
  font-family: Outfit;
  cursor: pointer;
  transition: all 0.3s ease;



  &:hover{
    background-color: #020202;
    color: #fff;
    transition: all 0.3s ease;
  }
}
.left-site-container .btn-container button:last-child{
border: 1px solid #fff;
background-color: #000;
color: #fff;
&:hover{
  background-color: #0e0d0d;
}
}


.main-image{
  max-width: 50rem;
  max-height: 40rem;
  margin: 2rem 0rem;
  display: none;
  border: 1px solid #fff;
  // margin-right: 20rem;
    // min-width: 20rem;
  }


img{

  // border-radius: 1rem;
  // // max-width: 30rem;
  //   // min-width: 30rem;
  // object-fit: cover;
  //   min-height: 30rem;
  //   max-height: 30rem;

  // margin: 2rem 0rem 2rem 0rem;
  // cursor: pointer;
  // transition: all 0.3s ease;

  // &:hover{
  //   border: 10px solid $main-second-theme-color;
  //   padding: 1rem;
  //   transition: all 0.3s ease;
  // }
}

.bold{
  font-weight: bold;
  letter-spacing: .2rem;
}


a{
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.3s ease;
  font-weight: 200;

  &:hover{
    color: $main-second-theme-color;
    transition: all 0.3s ease;
  }


}
p{
  font-size: 2rem;
  font-weight: 200;
  text-align: justify;
  line-height: 2.5rem;

  color: #fff;

}


@media screen and (min-width: 1200px){
  .main-text-container{
    justify-content: space-between;

  }



  .left-site-container .btn-container button:last-child{
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  &:hover{
    background-color: #0e0d0d;
  }
  }




  .main-description-container .left-site-container h2{
  color: #FFF;
  text-align: left;
  font-family: Outfit, sans-serif;
  font-size: 8rem;
  margin: 3rem 0rem;
  font-weight: 500;
  line-height: 98.28%; /* 3.93119rem */
  }

  .main-image{
    display: flex;
    max-width: 50rem;
  max-height: 50rem;
  margin: 2rem 0rem;

  }
  .main-description-container{
    margin-top: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50rem;
    // background-color: red;
  }

  .left-site-container .btn-container{
    width: 44rem;
    justify-content: flex-start;
    margin: 2rem 0rem;
  }

  .left-site-container .btn-container button{
    margin: 0rem 2rem;
    width: 16rem;
    font-size: 1.5rem;



  }

  .main-description-container .left-site-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    // background-color: blue;
  }


  .main-description-container .right-site-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    // background-color: green;
  }




  .h1-container{
    margin-top: 25rem;
  }

  .h1-container h1{

    font-size: 12rem;
    font-weight: 700;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Source Sans 3', sans-serif;

  }

  .main-about-us-container{
    max-width: 55rem;
  }

  .main-text-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 85rem;

    gap: 3rem;



  }
  .main-container{
    height: 100%;


  }

  app-shopping-card{
    display: block;
    // width: 10  0%;
  }




}

