$main-background-color: #1b1b1b  ;
$second-background-color: #000000  ;
$blocks-background-color: #040404   ;
$main-second-theme-color: #004a77;
$third-theme-color: #383b3f;
$main-text-color: #e3e3e3;
