$main-background-color: #FAF9F8;
$main-second-theme-color: #561bc5;
$main-second-theme-color-darken: #4600c9;
$main-blocks-color: #FAF9F8;
$second-blocks-color: #FAF9F8;
$third-blocks-color:#FAF9F8;
$main-theme-color: #FAF9F8;
$main-text-color:#fff;

$hover-text-color:#e0e0e0;

$main-header-background:#FAF9F8;
