@import '../../../../variables.scss';
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";
.sidebar-container{
  // width: 25vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.3s ease;
  background-color: $main-blocks-color;
  z-index: 100;
  position: absolute;
  max-width: 35rem;
  margin-inline: auto;


  }
.sidebar-container a{
  display: flex;
  justify-content: center; /* Równa odległość między elementami */
  align-items: center;
  padding: 0 3rem; /* Dodaj padding po obu stronach */
  font-size: 2.5rem;
  height:7.7rem;
  text-decoration: none;
  color: #000;
  font-weight:400;
  width: 100%;



  &:hover{
    background-color: $third-blocks-color;
    color: #000;
  }

}

.sidebar-container a:last-child{
  // position: absolute;
  // bottom: 2rem;
  width: 100%;
cursor: pointer;

}

.sidebar-container a.active{
  width: 100%;
  color: #fff;
  background: $main-second-theme-color;
  margin-left: 0;
  position: relative;
  transition: all 0.3s ease;

}

.sidebar-container a.active::before{
  content: '';
  width: .5rem;
  height: 100%;
  background-color: $main-second-theme-color;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}


.sidebar-container a i{
  flex-grow: 1;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-btn-container{
  // height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;


}

#close-btn{
  font-size: 4rem;
  background-color: $main-background-color;
  padding: .4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 50%;

}


#menu{
  display: none;
}

.menu-btn-container{
  height: 7rem;
  max-width: 120rem;
  margin: 0 auto;
  background-color: $main-header-background;
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

}
.menu-btn-container i{
  padding: 1rem;
  min-height: 6rem;
  min-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
  margin-right: 2rem;
  border: 1px solid #1b1b1b;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &:hover{
    border: 1px solid #000;
  }
}

.menu-btn-container nav{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,li{
  list-style: none;
}

.menu-btn-container nav ul{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  gap: 5rem;
  font-weight: 400;

}

nav ul li  a.active{
  border-bottom: 3px solid $main-second-theme-color;
  transition: all 0.1s ease;


}
.menu-btn-container nav ul li  a{
  cursor: pointer;
  padding: 1rem 2rem;
  color: #000;
  // border-radius: 1rem;

  transition: all 0.1s ease;
  &:hover{
    background-color:$hover-text-color ;
    // color: $main-second-theme-color;
    transition: all 0.1s ease;
  }




}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 600;
  margin-left: 2rem;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;

  &:hover{
    transition: all 0.3s ease;
  }

}
#menu{
  font-size: 1.5rem;

}
#shoppingCard{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p{
  margin: 0;
}

.logo-second-color{
  color: #561bc5;
}


.items-count{
  color: red;
  margin-top: 0.4rem;
}


@media screen and (min-width: 1000px){
  // app-shopping-card{
  //   display: none;
  // }
.logo{
  margin-left: 2rem;

}

  }


@media screen and (max-width: 800px) {
  .sidebar-container{
    height: 83vh;
    width: 35vw;
  }
  #menu{
    display: flex;
  }

  nav ul li{
    display: none;
  }

  .logo{
    font-size: 2rem;
  }




  .menu-btn-container{
    width: 100%;
    display: flex;
    max-width: 40rem;
    margin-top: 5rem;
    // justify-content: space-between;
    align-items: center;
    height: 8rem;
  }
  .menu-btn-container i{
    margin: 2rem 2rem;
  }



  .sidebar-container a{
    font-size: 1.7rem;
    padding: 0 1rem; /* Dodaj padding po obu stronach */
    height:5.7rem;


  }

  i{
    font-size: 3rem;
  }
  .menu-btn-container i {
    display: inline-block;
    font-size: 2.5rem;
  }
}






a{
  text-decoration: none;
  color: inherit;
}

